*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1100px ;
    margin: 10px auto;
    border: 5px solid black;

}

header{
    background-color: mediumvioletred;
    height: 100px ;
    width: 100%;
    margin: 0%;
    text-align: center;
    line-height: 100px;
    color: black;
}

nav{ 
    background-color: lightblue;
    height: 50px;
    border-bottom: 1px solid black;

}
nav ul li{ 
    float: left;
    list-style: 10px;
    margin: 10px;
    line-height: 30 px;
}
.clearfix{
    clear: both;
}

#content{
    float: left;
    width: 80%;
    background-color: blueviolet;
}
.article{
    
}